<p>你好 <%= @user.username %>，</p>
<p>恭喜！你获得了徽章 <strong><%= @badge.icon %> <%= @badge.name %></strong>。</p>
<% if @badge.description.present? %>
  <p><%= @badge.description %></p>
<% end %>
<p><a href="<%= @url %>">查看徽章详情</a></p>
