<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.badge_earned.body", badge: "#{@badge.icon} #{@badge.name}") %></p>
<% if @badge.description.present? %>
  <p><%= @badge.description %></p>
<% end %>
<p><a href="<%= @url %>"><%= t("mcweb.mail.forum.badge_earned.view_badge") %></a></p>
