<p><%= t("mcweb.mail.greeting_formal", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.bookmark_reminder.body") %></p>
<p><strong><%= @topic.title %></strong></p>
<% if @note.present? %>
<p><%= t("mcweb.mail.forum.bookmark_reminder.note", note: @note) %></p>
<% end %>
<p><a href="<%= @url %>"><%= t("mcweb.mail.forum.bookmark_reminder.view_content") %></a></p>
<p class="text-muted"><a href="<%= @preferences_url %>"><%= t("mcweb.mail.manage_preferences") %></a></p>
