<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.followed_reply.body", author: @post.user.username, title: @topic.title) %></p>
<p><%= @post.body.truncate(200) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_reply") %></a></p>
<%= render "notification_unsubscribe" %>
