<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.followed_topic.body", author: @author.username, title: @topic.title) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_topic") %></a></p>
<%= render "notification_unsubscribe" %>
