<p>你好 <%= @user.username %>，</p>
<p><strong><%= @post.user.username %></strong> 在主题「<%= @topic.title %>」中提到了你：</p>
<blockquote><%= simple_format(@post.body.truncate(500)) %></blockquote>
<p><a href="<%= @url %>">查看帖子</a></p>
<%= render "notification_unsubscribe" %>
