<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.post_reaction.body", author: @reactor.username, emoji: @emoji) %></p>
<p><%= t("mcweb.mail.forum.post_reaction.topic", title: @topic.title) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_post") %></a></p>
<%= render "notification_unsubscribe" %>
