<p>你好 <%= @user.username %>，</p>
<p><strong><%= @reactor.username %></strong> 对你的帖子做出了反应 <%= @emoji %>。</p>
<p>主题：<%= @topic.title %></p>
<p><a href="<%= @url %>">查看帖子</a></p>
<%= render "notification_unsubscribe" %>
