<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.post_edited.body", editor: @editor.username, title: @topic.title, floor: @post.floor_number) %></p>
<blockquote><%= simple_format(@post.body.truncate(500)) %></blockquote>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_post") %></a></p>
<%= render "notification_unsubscribe" %>
