<p>你好 <%= @user.username %>，</p>

<p>你保存的搜索「<%= @search.name %>」有 <%= @topics.size %> 条新主题：</p>

<ul>
  <% @topics.each do |topic| %>
    <li><a href="<%= root_url.chomp('/') %><%= forum_topic_path(topic) %>"><%= topic.title %></a></li>
  <% end %>
</ul>

<p><a href="<%= @url %>">查看完整搜索结果</a></p>

<p style="font-size:12px;color:#666;margin-top:24px;">
  你开启了此搜索的每日邮件提醒。
  <a href="<%= @unsubscribe_url %>">一键关闭此搜索的每日提醒</a>
  ·
  <a href="<%= @preferences_url %>">在通知偏好中管理全部保存的搜索</a>
</p>
