<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.section_topic.body", title: @topic.title) %></p>
<p><%= t("mcweb.mail.author_label", username: @topic.user.username) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_topic") %></a></p>
<%= render "notification_unsubscribe" %>
