<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.tag_topic.body", tags: @tag_names) %></p>
<p><a href="<%= @url %>"><%= @topic.title %></a></p>
<p><%= t("mcweb.mail.author_label", username: @topic.user.username) %></p>
<%= render "notification_unsubscribe" %>
