<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.topic_invite.body", inviter: @inviter.username, title: @topic.title) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_topic") %></a></p>
<%= render "notification_unsubscribe" %>
