<p><%= t("mcweb.mail.greeting", username: @user.username) %></p>
<p><%= t("mcweb.mail.forum.topic_reply.body", author: @post.user.username, title: @topic.title) %></p>
<blockquote><%= simple_format(@post.body.truncate(500)) %></blockquote>
<p><a href="<%= @url %>"><%= t("mcweb.mail.view_reply") %></a></p>
<%= render "notification_unsubscribe" %>
