<% content_for :title, "Set new password" %>

<%= render Ui::PageHeaderComponent.new(title: "Set new password") %>

<%= form_with url: identity_password_reset_path(params[:token]), method: :patch, scope: :password_reset, class: "max-w-sm space-y-4" do |f| %>
  <div>
    <label class="mc-form-label" for="password_reset_password">New password</label>
    <%= f.password_field :password, class: "mc-input w-full", required: true, id: "password_reset_password" %>
  </div>
  <div>
    <label class="mc-form-label" for="password_reset_password_confirmation">Confirm password</label>
    <%= f.password_field :password_confirmation, class: "mc-input w-full", required: true, id: "password_reset_password_confirmation" %>
  </div>
  <%= f.submit "Update password", class: "mc-btn mc-btn-primary" %>
<% end %>
