<p><%= t("mcweb.mail.commerce.webhook_failure.body") %></p>

<ul>
  <% if @forum_alert %>
    <li><%= t("mcweb.mail.commerce.webhook_failure.forum", failed: @forum_failed, threshold: @forum_threshold, total: @stats.dig(:forum, :total)) %></li>
  <% end %>
  <% if @store_alert %>
    <li><%= t("mcweb.mail.commerce.webhook_failure.store", failed: @store_failed, threshold: @store_threshold, total: @stats.dig(:store, :total)) %></li>
  <% end %>
</ul>

<p>
  <a href="<%= @forum_url %>"><%= t("mcweb.mail.commerce.webhook_failure.view_forum") %></a><br>
  <a href="<%= @store_url %>"><%= t("mcweb.mail.commerce.webhook_failure.view_store") %></a>
</p>
