<p><%= t("mcweb.mail.greeting_formal", username: @user.username) %></p>
<p><%= t("mcweb.mail.commerce.abandoned_cart.intro") %></p>
<ul>
  <% @cart.items.each do |item| %>
    <li><%= item.product.name %> × <%= item.quantity %></li>
  <% end %>
</ul>
<p><a href="<%= @recovery_url %>"><%= t("mcweb.mail.commerce.abandoned_cart.action") %></a></p>
<% if @coupon_code.present? %>
<p><%= t("mcweb.mail.commerce.abandoned_cart.coupon", code: @coupon_code) %></p>
<% end %>
