<p><%= t("mcweb.mail.greeting_formal", username: @user.username) %></p>
<p><%= t("mcweb.mail.commerce.new_product_question.body", product: @product.name) %></p>
<blockquote><%= simple_format(@question.body) %></blockquote>
<p><%= t("mcweb.mail.commerce.new_product_question.asker", username: @question.user.username) %></p>
<p><a href="<%= @url %>"><%= t("mcweb.mail.commerce.go_reply") %></a></p>
