<p>您好 <%= @user.username %>，</p>
<p>商品 <strong><%= @product.name %></strong> 收到新的用户提问：</p>
<p><%= @question.body.truncate(300) %></p>
<p>提问者：<%= @question.user.username %></p>
<p><a href="<%= @url %>">前往回复</a></p>
