<h2><%= t("mcweb.mail.commerce.order_shipped.heading") %></h2>
<p><%= t("mcweb.mail.greeting_formal", username: @order.user.username) %></p>
<p><%= t("mcweb.mail.commerce.order_shipped.body", number: @order.order_number) %></p>
<% if @order.tracking_number.present? %>
  <p><%= t("mcweb.mail.commerce.track_carrier", carrier: @order.shipping_carrier.presence || t("mcweb.mail.commerce.default_carrier")) %></p>
  <p><%= t("mcweb.mail.commerce.track_number", number: @order.tracking_number) %></p>
  <% if @tracking_url.present? %>
    <p><a href="<%= @tracking_url %>"><%= t("mcweb.mail.commerce.track_url") %></a></p>
  <% end %>
<% end %>
<%= render partial: "commerce/order_mailer/order_details", locals: { order: @order } %>
