<p><%= t("mcweb.mail.greeting_formal", username: @order.user.username) %></p>
<p><%= t("mcweb.mail.commerce.order_completed.body", number: @order.order_number) %></p>
<p><%= t("mcweb.mail.commerce.amount_line", amount: number_to_currency(@order.total_cents / 100.0, unit: @order.currency == "CNY" ? "¥" : "$")) %></p>
<p><a href="<%= store_order_url(@order) %>"><%= t("mcweb.mail.commerce.view_order_detail") %></a></p>
