<h2><%= t("mcweb.mail.commerce.order_heading") %></h2>
<p><%= t("mcweb.mail.greeting_formal", username: @order.user.username) %></p>
<p><%= t("mcweb.mail.commerce.order_number", number: @order.order_number) %></p>
<p><%= t("mcweb.mail.commerce.order_status", status: @order.status) %></p>
<% if @pay_url.present? %>
  <p><%= t("mcweb.mail.commerce.pay_before", expires: @expires_label) %></p>
<% end %>
<%= render partial: "commerce/order_mailer/order_details", locals: { order: @order } %>
<% if @pay_url.present? %>
  <p><a href="<%= @pay_url %>"><%= t("mcweb.mail.commerce.pay_now") %></a></p>
<% end %>
<p><%= t("mcweb.mail.commerce.thanks") %></p>
