<p><%= t("mcweb.mail.greeting_formal", username: @order.user.username) %></p>
<p><%= t("mcweb.mail.commerce.refund_requested.body", number: @order.order_number) %></p>
<% if @refund.reason.present? %>
<p><%= t("mcweb.mail.commerce.reason_label", reason: @refund.reason) %></p>
<% end %>
<p><a href="<%= store_order_url(@order) %>"><%= t("mcweb.mail.commerce.view_order_detail") %></a></p>
